<div class="panel panel-default">
  <div class="panel-body">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a
              href="javascript:void(0);"
              (click)="fullscreen()"
              title="Fullscreen"
            >
              <strong>F</strong>
            </a>
          </li>
          <li>
            <a
              href="javascript:void(0);"
              (click)="openSettings()"
              title="Settings"
            >
              <strong>S</strong>
            </a>
          </li>
          <li *ngIf="repeatA >= 0 || repeatB >= 0">
            <a
              href="javascript:void(0);"
              (click)="clearRepeat()"
              title="Clear repeat"
            >
              <strong *ngIf="repeatA >= 0">A</strong>
              -
              <strong *ngIf="repeatB >= 0">{{
                repeatB === repeatA ? "A" : "B"
              }}</strong>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="caption-ul list-group" [class.dark-mode]="settings.darkMode">
      <p *ngIf="error && !loading" class="well well-sm text-warning">
        ERROR: {{ error.message || error }}
      </p>
      <div class="captionz-spinner" *ngIf="loading">
        <div class="captionz-bounce1"></div>
        <div class="captionz-bounce2"></div>
        <div class="captionz-bounce3"></div>
      </div>
      <ng-container *ngIf="!loading && comments">
        <li
          *ngFor="let line of comments; let i = index"
          class="list-group-item"
          [class]="{
            'repeat-b': i === repeatB,
            'repeat-a': i === repeatA,
            'line-in-repeat': isLineInRepeat(i)
          }"
          [attr.data-index]="i"
        >
          <span class="line-actions">
            <!-- <a
              href="javascript:void(0)"
              class="line-repeat"
              (click)="repeat($event, i)"
              title="Repeat this {{ Math.round(line.dur) }}''"
            >
              {{ getRepeatLetter(i) }}
            </a> -->
            <a
              href="javascript:void(0)"
              class="line-seek"
              [class.hidden]="settings.timestamp"
              (click)="seekToLine(i)"
              title="Seek to {{ Math.round(line.start) }}''"
            >
              ≻
            </a>
          </span>
          <a
            href="javascript:void(0)"
            class="line-timestamp"
            [class.hidden]="!settings.timestamp"
            (click)="seekToLine(i)"
            title="Seek to {{ Math.round(line.start) }}''"
            >{{ line.start | minsec }}</a
          >
          <span
            class="line-text list-group-item-text username-text"
            [innerHTML]="line.username + ':&nbsp;&nbsp;' | unescape"
          ></span>

          <span
            class="line-text list-group-item-text language-text"
            [innerHTML]="line.text | unescape"
          ></span>
        </li>
      </ng-container>
    </ul>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">{{
            registerred ? username + ": " : "Who are you?"
          }}</span>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input
                *ngIf="!registerred"
                required
                [formControl]="usernameCtrl"
                type="text"
                class="form-control"
                placeholder="Tom"
                (focusout)="register()"
                (keyup.enter)="register()"
              />
              <input
                *ngIf="registerred"
                required
                [formControl]="commentCtrl"
                type="text"
                class="form-control"
                placeholder="Meow~~~"
                (focusout)="comment()"
                (keyup.enter)="comment()"
              />
            </div>
            <!-- <button class="btn btn-default" (click)="register()">Submit</button> -->
          </div>
        </div>
      </div>
    </nav>
  </div>
  <app-settings
    [settings]="settings"
    (changeFont)="changeFontSize($event)"
  ></app-settings>
</div>
